html {
	margin: 0;
	padding: 0;
	background-color: #ADD8E6;
}
body {
	width: 20%;
	margin: 15% auto;
	font: 100% Arial, Helvetica, sans-serif;
	background: #adbce6;
	border: 0.1em solid black;
}
#LoginErrors {
	line-height: 1.0;
	text-align: justify;
	visibility: hidden;
	color:red;
}
.buttons{
	background: lightblue
}