html {
	margin: 0;
	padding: 0;
	background-color: #ADD8E6;
}
body {
	font: 100% Arial, Helvetica, sans-serif;
	background: #adbce6;
}
.buttons{
	width: 7%;
	margin:0 93%;
	background: lightcoral
}
img {
	height: 320;
	width: 240;
	padding: 28px;
    margin: 0 auto;
    
}
